<%= form_for(@all_info) do |f| %>
<% if @server.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

  <ul>
    <% @server.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="span6 offset3">
    <div class="field">
      <%= f.label :server %><br>

      <% Server.all.each do |server| %>
      <label class="checkbox-inline">
        <input type="checkbox"><%= server.name %><%= ' (ip: ' %><%= server.ip %><%= ')' %>
      </label>
      <% end %>

    </div>
  </div>
  <div class="span6 offset3">
    <div class="field">
      <%= f.label :software %><br>

      <% Software.all.each do |software| %>
      <label class="checkbox-inline">
        <input type="checkbox"><%= software.name %><%= ' (version: ' %><%= software.version %><%= ')' %>
      </label>
      <% end %>


    </div>
  </div>
</div>
<% end %>



