<form>
 <div class="row">
  <div class="span6 offset3">

      <select class = "span6" onchange='this.form.submit()'>
      <% Server.all.each do |server| %>
         <option><%= server.name %><%= ' (ip: ' %><%= server.ip %><%= ')' %></option>
      <% end %>
      </select>

      <select class = "span6" onchange='this.form.submit()'>
      <% Software.all.each do |software| %>
         <option><%= software.name %><%= ' (version: ' %><%= software.version %><%= ')' %></option>
      <% end %>
      </select>

  </div>
  </div>
  <input name="submitbutton" type="submit" value="submit" />
</form>